@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-BoldItalic.eot');
    src: local('Cera Pro Bold'), local('CeraPro-BoldItalic'),
        url('CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff'),
        url('CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
}
